
    <div class="col" style="margin-top:30px">
    <div class="ui fluid card">
  <div class="content">
    <div class="header">{{story.title}}</div>
  </div>
  <div class="content" style="font-size:16px">
    By: <b><label>{{story.user.firstName}}</label></b>
    <div class="ui divider"></div>
    <div class="ui small feed">
      <div class="event">
        <div class="content" style="font-size: 16px;">
        
           {{{story.body}}}
        </div>
      </div>
    </div>
  </div>
  <div class="extra content">
    <a href="/stories/user/{{story.user._id}}" class="ui blue button">
      <i class="book icon"></i>
     More from {{story.user.firstName}}
    </a>
  </div>
</div>
    </div>
    

